name: Node.js CI

on:
    push:
        branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm install

    - name: Run Controller Tests (REST)
      run: npm run test-controller

    - name: Start server in background
      run: npm start &

    - name: Wait for server
      run: sleep 5   

    - name: Run External Tests (REST)
      run: npm run test-external